<div>
	<div class="container-fluid">
		<div class="col-md-12 table-responsive table-data">
			<div class="col-md-4"><h2>Servers</h2></div> 
			<div class="col-md-8"><span></span></div>
		    <table class="table">
		        <tbody>
		         	<tr>
		           		<td>
		                    <b>Model</b>
		           		</td>
		           		<td>
		                    <b>Ram</b>
		           		</td>
		           		<td>
		                    <b>Hard Disk Type</b>
		           		</td>
		           		<td>
		                    <b>Location</b>
		           		</td>
		           	</tr>
		           	<!-- {{object.serverList}} -->
		            <tr ng-repeat="item in object.serverList">
		                <td>{{item.model}}</td>
		                <td>{{item.ram}}</td>
		                <td>{{item.hdd}}</td>
		                <td>{{item.location}}</td>
		            </tr>
		            <tr><td colspan="4" class="text-center">{{progressbar}}</td></tr>
		        </tbody>
		    </table>	
		</div>
	</div>
</div>
