<div  ng-controller="HomeController as home">
	<div class="container-fluid">
		<div class="col-md-12 table-responsive table-data">
			<h2>Servers</h2>
		    <table class="table">
		        <tbody>
		         	<tr>
		           		<td>
		                    <b>Model</b>
		           		</td>
		           		<td>
		                    <b>Ram</b>
		           		</td>
		           		<td>
		                    <b>Hard Disk Type</b>
		           		</td>
		           		<td>
		                    <b>Location</b>
		           		</td>
		           	</tr>
		           	
		            <tr ng-repeat="item in home.serverList">
		                <td>{{item.model}}</td>
		                <td>{{item.ram}}</td>
		                <td>{{item.disk_type}}</td>
		                <td>{{item.location}}</td>
		            </tr>
		        </tbody>
		    </table>	
		</div>
	</div>
</div>
